<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">

      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <center>
          <li>
            {{ site.title | escape }}
          </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
          </center>
        </ul>
      </div>


  </div>

</footer>
