{% if site.googlescholar_userID %}<a href="https://scholar.google.ca/citations?user=cEkjO_MAAAAJ&hl=en"><i class="ai ai-google-scholar" aria-hidden="true"></i></a>{% endif %}
<!--{% if site.googlescholar_userID %}<a href="https://scholar.google.ca/citations?user={{ site.googlescholar_userID | cgi_escape | escape }}"><i class="ai ai-google-scholar" aria-hidden="true"></i></a>{% endif %}-->
<!--<li class="contact-list-item-top"><a href="https://scholar.google.ca/citations?user=qmKcNSoAAAAJ&hl=en"><i class="ai ai-google-scholar" aria-hidden="true"></i> </a></li>-->
