---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
"minima"
;

// Custom colors
$grey:             #dedfe0 !default;
$white:            #ffffff !default;

// Page content layout
.wrapper-content{
  @extend .wrapper;
  margin-top: 0px;
  //text-align: justify;
  //border-top: 1px solid $grey-color-light;
}
.wrapper-content-before-post{
  text-align: justify;
}

// Everything to do with posts
// Class for the date format in the post title in a post list
.small-date{
  font-weight: bold;
  font-size: 1.1*$small-font-size;
  vertical-align: top;
  padding-right: 5px;
  @include media-query($on-palm) {
    padding-top: 2px;
    width: 105px;
  }
}
.medium-title{
  //padding-left: 5px;
  font-size: 1*$base-font-size;
  //color : $grey-color-dark;
  vertical-align: top;
  //border-left: 1.5px solid $grey-color-dark;
  padding-top: -5px;
}
// Class for tags in a post list
.post-tags{
  font-size: 0.9*$base-font-size;
  margin-right: 20px;
  line-height: 1.5*$base-line-height;
  //color: $grey-color-light;
}
.post-tags, .a{
  color: $grey-color-dark;
}
// Class for the post excerpt in a post list
.post-excerpt {
  padding-top: 5px;
  color: $grey-color-dark;
  font-size: $base-font-size;
  text-align: justify;
}
// Class for the post title line in a post list
/* Underline From Left */
.hvr-underline-from-left {
  display: table-cell;
  @include relative-font-size(1.2);
  padding: 0px 0px 10px 0px;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1*$base-font-size;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  line-height: $base-line-height;
}
.hvr-underline-from-left, .a {
    color: $grey-color-dark;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $grey-color-dark;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

// Everything to do with images
// Class to show an image as full-width
.full-width {
  max-width:100%;
  max-height:100%;
}
// Class to use an image as a thumbnail
.thumbnail {
  margin-left: 0px;
  margin-right: 20px;
  float: left;
}
.thumbnail-content {
  margin-left: 0px;
  margin-right: 20px;
  text-align: left;
}
.thumbnail-container {
  @extend %clearfix;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

// Everything to do with headers
// Social media list under site title
.social-media-list {
  margin-left: 0px;
  margin-right: 2px;
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  li + li {
      padding-top: 5px;
    }
}

// Secondary nav-bar formatting
// From https://github.com/IanLunn/Hover
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  //color: $grey-color-dark;
  //font-size: $base-font-size;
  padding-bottom: 5px;
  line-height: $base-line-height;
  padding-right: 5px;
  padding-left: 5px;

  // Gaps between nav items, but not on the last one
  margin-right: 25px;
  margin-left: 25px;
}
.hvr-underline-from-center, .a {
    color: $grey-color-dark;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $grey-color-dark;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center-active {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  color: DarkGoldenRod;
  //font-size: $base-font-size;
  padding-bottom: 5px;
  line-height: $base-line-height;
  padding-right: 5px;
  padding-left: 5px;

  // Gaps between nav items, but not on the last one
  margin-right: 25px;
  margin-left: 25px;
}
.hvr-underline-from-center-active, .a {
    color: DarkGoldenRod;
}
.hvr-underline-from-center-active:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: DarkGoldenRod;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center-active:hover:before, .hvr-underline-from-center-active:focus:before, .hvr-underline-from-center-active:active:before {
  left: 0;
  right: 0;
}



// Inner nav-bar (based on the minima site-nav in layout.scss)
.site-nav-inner {
  //border-top: 1px solid $grey-color-light;
  //border-bottom: 1px solid $grey-color-light;
  margin-top: 10px;
  margin-bottom: 0px;

  //float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $grey-color-dark;
    line-height: $base-line-height;
    font-size: $base-font-size;
    position: relative;

    // Gaps between nav items,
    @include media-query($on-laptop) {
      margin-right: 25px;
      margin-left: 25px;
    }
    @include media-query($on-palm) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  @include media-query($on-palm) {
    display: flex;
		flexwrap: nowrap;
		justify-content: center;
    //position: absolute;
    //top: 9px;
    //right: $spacing-unit / 2;
    //background-color: $background-color;
    //border: 1px solid $grey-color-light;
    //border-radius: 5px;
    //text-align: center;

    //label[for="nav-trigger"] {
    //  display: block;
    //  float: center;
    //  width: 36px;
    //  height: 36px;
    //  z-index: 2;
    //  cursor: pointer;
    //  color: $grey-color-dark;
    //}

    //.menu-icon {
    //  display: block;
    //  float: center;
    //  width: 36px;
    //  height: 26px;
    //  line-height: 0;
    //  padding-top: 10px;
    //  text-align: center;

    //  > svg path {
    //    fill: $grey-color-dark;
    //  }
    //}

    //input ~ .trigger {
    //  clear: both;
    //  display: none;
    //}

    //input:checked ~ .trigger {
    //  display: block;
    //  padding-bottom: 5px;
    //}

    //.page-link {
    //  color: $grey-color-dark;
    //  display: block;
    //  padding: 10px 10px;
    //  margin-right: 20px;
    //  margin-left: 20px;
    //}
  }
}

// Everything to do with footers
.footer-line {
  color: $grey-color;
  font-size: 0.8*$small-font-size;
}


// Redefine span class; don't know if still necessary.
// No wrap on lines inside span environment ?
//span {
//    white-space: nowrap;
//}

// Everything that is an adapted version of minima CSS
/**
 * Links
 */
// Remove all minima decorations on links (visited, hover)
// Over-rides the minima original in layout.scss
a {
  color: DarkGoldenRod;
  text-decoration: none;
  &:visited {
  }
  &:hover {
  }
  .social-media-list &:hover {
    text-decoration: none;
    .username {
      text-decoration: none;
    }
  }
}

/**
 * Blockquotes
 */
// Adapt format
blockquote {
  color: $grey-color;
  border-left: 1px solid $grey-color;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1);
  //letter-spacing: -1px;
  font-style: normal;

  > :last-child {
    margin-bottom: 0;
  }
}
