---
layout: radio
---
<div class="home">

  <div class="wrapper-content-before-post">
  {{ content }}
  </div>
  </br>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains "radio" %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
          {% assign date = post.date | date: date_format %}
          <a class="hvr-underline-from-left" href="{{ post.url | relative_url }}">
            <table>
            <td class="small-date">{{date}}</td>
          <td class="medium-title">{{ post.title | escape | prepend: " | "}}</td>          </table>
          </a>

          <div>
          {% for tag in post.tags %}
            <span class="post-tags">
              <a href="{{ tag | append: ".html" | prepend: "/tags/" }}">{{ tag }}</a>
            </span>
            {% endfor %}
          </div>

          <a href="{{ post.url | relative_url }}">
            <div class="post-excerpt">
              {{ post.content | strip_html | truncatewords: 50 }}
            </div>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
